<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <test preserve-order="true"
          name="Test1">
        <classes>
            <class name="com.dmartLabs.runner.TestRunner"/>
        </classes>
    </test>

    <test preserve-order="true"
          name="Test2">
        <classes>
            <class name="com.dmartLabs.runner.TestRunner">
            </class>
        </classes>
    </test>
</suite>